.container {
  padding-bottom: 42px;
}
.button:active {
  background-color: #0099ff !important;
  color: white !important;
}
.emptyList {
  font: 30px black;
}
.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.load {
  border: 16px solid #dbc1c1;
  border-top: 16px solid #354146;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
